<div class="scan-social-container">
    <div class="login-buttons">
        <div class="row">
            <div class="col also-post-to">
                <p class="heavy-copy login-padding">Post to <span class="optional">(tap one)</span></p>
            </div>
        </div>

        <div class="row padding">
            <div class="col halign-center">
                <div><a class="button custom-button-facebook" ng-click="shareFB()"></a></div>
                <div class="social-name">Facebook</div>
            </div>
            <div class="col halign-center">
                <div><a class="button custom-button-twitter" ng-click="shareTwitter()"></a></div>
                <div class="social-name">Twitter</span></div>
            </div>
            <div class="col halign-center">
                <div><a class="button custom-button-instagram"></a></div>
                <div class="social-name">Instagram</div>
            </div>
        </div>
    </div>

</div>