
<ion-modal-view class="custom-login-modal">
      <!--<ion-header-bar class="login-header-bar">
            <div style="float:right;" class="button button-clear right" ng-click="closeLoginModal();">
              <span class="icon ion-close right"></span>    
            </div>   
      </ion-header-bar>--> 

      <ion-content scroll="false">

          <div class="login-content">
              <button class="custom-modal-close " ng-click="closeLoginModal()"></button>  
              <img src="img/tagr-logo-270x227.png" class="tagr-logo">
              <p class="heavy-copy">This feature requires you to log in.<br />
                <span class="italics-copy">See you on the inside - it's gonna be awesome!</span> 
              </p>
             
          </div> 
          <!-- FACEBOOK CHOSEN -->
           <div class="login-buttons"> 
               <div class="row">
                  <div class="col facebook">    
                    <p class="heavy-copy login-padding">Login using</p>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                   <label class="item item-input">
                      <span class="input-label">Email address</span>
                      <input type="email">
                    </label>
                  </div>
                </div>
                <div class="row">
                  <div class="col">
                    <label class="item item-input">
                      <span class="input-label">Password</span>
                      <input type="password">
                    </label>
                  </div>
                </div> 
                <div class="row">
                  <div class="col halign-center back-button-wrapper">
                    <button class="button button-clear back-button">
                      Back
                    </button>
                  </div>
                  <div class="col halign-center submit-button-wrapper">
                    <button class="button button-clear submit-button">
                      Submit
                    </button>
                  </div>
                </div>
            </div>

           <!-- FIRST LOGIN SCREEN -->
              <!--<div class="login-buttons"> 
               <div class="row border">
                  <div class="col">    
                    <p class="heavy-copy login-padding">Login using</p>
                  </div>
                </div>
                <div class="row padding">
                  <div class="col center">
                    <a class="button custom-button-twitter"></a>
                    <span class="social-name">Twitter</span>
                  </div>
                  <div class="col center">
                    <a class="button custom-button-facebook"></a>
                    <span class="social-name">Facebook</span>
                  </div>
                  <div class="col center">
                    <a class="button custom-button-instagram"></a>
                    <span class="social-name">Instagram</span>
                  </div>
                  <div class="col center">
                    <a class="button custom-button-more"></a>
                    <span class="social-name">More</span>
                  </div>
                </div> 
            </div>-->
        
      </ion-content>           
</ion-modal-view> 