  <ion-modal-view class="custom-share-modal art-detail-modal">

<!--     <ion-header-bar class="bar-dark" view-title="TAGR">
      <button class="button icon ion-chevron-left"></button>
      <h1 class="title">TAGR</h1>
      <div class="button button-clear" ng-click="closeModal()"><span class="icon ion-close"></span></div>
    </ion-header-bar> -->

<!--     	<button class="custom-modal-close art-detail-modal-close" ng-click="closeModal()"></button>
 -->
    <ion-content class="padding">
        <ng-include src="'templates/social-sharing-fragment.html'"></ng-include>

    </ion-content>
  </ion-modal-view>