<ion-view view-title='<img src="img/tagr-logo-176x37.png" class="header-logo" />' hide-tabs="true" hide-back-button="false">

	<ion-content  has-header="true" has-subheader="true" ng-init="showActionSheet()">
		<div class="bar bar-subheader scan-congrats-header">
			<div class="scan-congrats-title tagr-red">Congrats! You're the first to tag this!</div>
		</div>

		<div ng-show="isActionSheetOpen">
				<div style="background-image: url('{{addImg}}');background-repeat: no-repeat; height:600px; background-size: cover; background-position: center center;"></div>
				<div class="clear"></div>
		</div>

		<div ng-hide="isActionSheetOpen">
				<div style="background-image: url('{{addImg}}');background-repeat: no-repeat; height:200px; background-size: cover; background-position: center center;"></div>
				<div class="clear"></div>

				<div class="scan-form-container">

					<div class="im-the-artist-toggle">
						<label class="toggle toggle-balanced">
						   <input type="checkbox" ng-model="checked">
						   <div class="track">
						     <div class="handle"></div>
						   </div>
						</label>
					</div>
					<div class="im-the-artist">I'm the artist</div>

					<div class="clear"></div>

					<div ng-show="checked"><!-- I am the artist -->
						<div class="list scan-form">
						  <label class="item item-input item-stacked-label scan-item">
						    <span class="input-label scan-form-label tagr-red">Artist Name</span>
						    <span class="scan-form-artist-name">Space Invador</span>
						  </label>
						  <label class="item item-input item-stacked-label scan-item">
						    <span class="input-label scan-form-label tagr-red">Artwork Title </span>
						    <textarea placeholder="" class="scan-form-input-field"></textarea>
						  </label>
						  <label class="item item-input item-stacked-label scan-item">
						    <span class="input-label scan-form-label tagr-red">What inspired me</span>
						    <textarea placeholder="" class="scan-form-input-field"></textarea>
						  </label>
						</div>
					</div>

					<div ng-hide="checked">
						<div class="list scan-form"><!-- I am NOT the artist -->
						  <label class="item item-input item-stacked-label scan-item">
						    <span class="input-label scan-form-label tagr-red">Artist Name <span class="optional">(optional)</span></span>
						    <input type="text" placeholder="" class="scan-form-input-field">
						  </label>
						  <label class="item item-input item-stacked-label scan-item">
						    <span class="input-label scan-form-label tagr-red">Artwork Short Description <span class="optional">(optional)</span></span>
						    <textarea placeholder="" class="scan-form-input-field"></textarea>
						  </label>
						  <label class="item item-input item-stacked-label scan-item">
						    <span class="input-label scan-form-label tagr-red">What I like about it <span class="optional">(optional)</span></span>
						    <textarea placeholder="" class="scan-form-input-field"></textarea>
						  </label>
						</div>
					</div>

				</div><!-- end scan form container -->

<!-- 				<ng-include src="'templates/social-sharing-fragment.html'"></ng-include>
 -->
				<div class="button-bar-red"><button class="button button-block tagr-red">Post to <span class="tagr-font">TAGR</span></button></div>

		</div>

	</ion-content>
</ion-view>
